.homepage {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: flex-start;

    .homepage-container {
        flex-grow: 1;
        width: 990px;
        display: flex;
        gap: 2rem;

        @include media-queries(1115px){
            width: 920px;
            gap: 1.5rem;
        }
        @include media-queries(1030px){
            max-width: 600px;
        }
        @include media-queries(730px){
            width: 100%;
        }
    }
}