.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: .5rem 0;
    z-index: 10;

    @include media-queries(atSmall){
        display: flex;
    }

    svg {
        width: 28px;
    }
}