// colors
$twitterBlue: #1da1f2;
$twitterBlue-light: rgba(29, 161, 242, 0.1);
$green: rgb(0, 186, 124);
$green-light: rgba(0, 186, 124, 0.1);
$pink: rgb(249, 24, 128);
$pink-light: rgba(249, 24, 128, 0.1);
$text-light: rgb(83, 100, 113);
$border-light: rgb(239, 243, 244);
$bg-light: rgb(164, 164, 164, 0.09);


$nav-width: 255px;
