* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
}

.mobile-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
  align-items: center;
  background-color: #fff;
  z-index: 10;
}
.mobile-header .logo {
  display: inline-block;
  width: 30px;
  margin: 0 auto;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  padding: 0.5rem 0;
  z-index: 10;
}
@media only screen and (max-width: 500px) {
  .bottom-nav {
    display: flex;
  }
}
.bottom-nav svg {
  width: 28px;
}

.container {
  min-height: 690px;
  width: 100%;
  display: flex;
  justify-content: stretch;
  flex-shrink: 0;
}

.sidebar {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 730px) {
  .sidebar {
    flex-grow: 0;
  }
}
@media only screen and (max-width: 500px) {
  .sidebar {
    display: none;
  }
}
.sidebar .main {
  width: 275px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
@media only screen and (max-width: 1300px) {
  .sidebar .main {
    width: 88px;
    justify-content: center;
  }
}
.sidebar .sidebar-container {
  padding: 0 0.5rem 0.5rem 0;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.sidebar svg {
  width: 28px;
}
.sidebar .sidebar-box {
  margin-bottom: auto;
}
.sidebar .logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color ease 0.2s;
}
.sidebar .logo:hover {
  background-color: #e1e8ed;
}
.sidebar .logo svg {
  width: 30px;
}
.sidebar .tweet-btn {
  background-color: #1da1f2;
  color: #fff;
  width: 200px;
  height: 48px;
  line-height: 48px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-top: 0.3rem;
  border: none;
  cursor: pointer;
}
.sidebar .tweet-btn svg {
  display: none;
  width: 24px;
  fill: #fff;
}
@media only screen and (max-width: 1300px) {
  .sidebar .tweet-btn {
    width: 48px;
  }
  .sidebar .tweet-btn span {
    display: none;
  }
  .sidebar .tweet-btn svg {
    display: block;
  }
}
.sidebar .nav-links {
  display: flex;
  flex-direction: column;
  align-items: self-start;
}
.sidebar .profile {
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0.5rem;
  border-radius: 9999px;
  bottom: 1rem;
  transition: background-color ease 0.2s;
}
.sidebar .profile:hover {
  background-color: #e1e8ed;
}
.sidebar .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.7rem;
}
.sidebar .profile .profile-box {
  display: flex;
  align-items: center;
}
.sidebar .profile .profile-id {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.75rem;
}
.sidebar .profile .profile-id .name {
  font-weight: 600;
}
.sidebar .profile svg {
  width: 18px;
}
@media only screen and (max-width: 1300px) {
  .sidebar .profile {
    display: none;
  }
}

.nav-item {
  display: inline-block;
  padding: 0.55rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color ease 0.2s;
}
.nav-item:hover {
  background-color: #e1e8ed;
}
.nav-item svg {
  vertical-align: middle;
  line-height: 1.5;
}
.nav-item .nav-text {
  margin-left: 1rem;
  font-size: 1.1rem;
  vertical-align: middle;
  line-height: 1.5;
  transform: translateY(-1px);
}
@media only screen and (max-width: 1300px) {
  .nav-item .nav-text {
    display: none;
  }
}

.homepage {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: flex-start;
}
.homepage .homepage-container {
  flex-grow: 1;
  width: 990px;
  display: flex;
  gap: 2rem;
}
@media only screen and (max-width: 1115px) {
  .homepage .homepage-container {
    width: 920px;
    gap: 1.5rem;
  }
}
@media only screen and (max-width: 1030px) {
  .homepage .homepage-container {
    max-width: 600px;
  }
}
@media only screen and (max-width: 730px) {
  .homepage .homepage-container {
    width: 100%;
  }
}

.home {
  width: 100%;
  max-width: 600px;
  flex-grow: 1;
  border-left: 1px solid rgb(239, 243, 244);
  border-right: 1px solid rgb(239, 243, 244);
}
.home .home-header {
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
}
.home h2.page-title {
  padding: 1rem;
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  .home h2.page-title {
    display: none;
  }
}
.home .fyf {
  display: flex;
}
.home .fyf button {
  width: 50%;
  height: 54px;
  font-weight: 600;
  font-size: 0.95rem;
  color: rgb(83, 100, 113);
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: background-color ease 0.2s;
}
.home .fyf button:hover {
  background-color: #e1e8ed;
}
.home .fyf span {
  display: inline-block;
  height: 100%;
  line-height: 53px;
  border-bottom: 4px solid transparent;
}
.home .fyf span.active {
  border-bottom-color: #1da1f2;
  color: black;
}
.home .tweetfieldbox {
  display: flex;
  padding: 0.7rem 1rem;
  padding-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.home .tweetfieldbox svg {
  width: 18px;
}
.home .tweetfieldbox img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}
.home .tweetfieldbox .tweetfield {
  flex-grow: 1;
}
.home .tweetfieldbox .tweetinput {
  flex-grow: 1;
}
.home .tweetfieldbox .tweetinput button {
  display: none;
  align-items: center;
  background-color: transparent;
  font-weight: 600;
  color: #1da1f2;
  border: 0;
  cursor: pointer;
  padding: 1px 12px;
  border-radius: 12px;
  transition: display ease 0.2s;
}
.home .tweetfieldbox .tweetinput button:hover {
  background-color: rgba(29, 161, 242, 0.1);
}
.home .tweetfieldbox .tweetinput .btn-top {
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.home .tweetfieldbox .tweetinput .btn-top svg {
  margin-left: 5px;
  fill: #1da1f2;
}
.home .tweetfieldbox .tweetinput .btn-bottom {
  margin-left: -8px;
}
.home .tweetfieldbox .tweetinput .btn-bottom svg {
  margin-right: 5px;
  fill: #1da1f2;
}
.home .tweetfieldbox .tweetinput .btn-top.visible {
  display: flex;
}
.home .tweetfieldbox .tweetinput .btn-bottom.visible {
  display: flex;
}
.home .tweetfieldbox .tweetinput input {
  width: 100%;
  padding: 1rem 0;
  font-size: 1.3rem;
  line-height: 1.3rem;
  border: 0;
  outline: 0;
  background-color: transparent;
}
.home .tweetfieldbox .tweetctrl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0;
  margin-top: 0.8rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.home .tweetfieldbox .tweetctrl .tweeticon {
  width: 32px;
  height: 32px;
  margin: 0 8px;
  border-radius: 50%;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: all ease 0.2s;
}
.home .tweetfieldbox .tweetctrl .tweeticon:hover {
  background-color: rgba(29, 161, 242, 0.1);
}
.home .tweetfieldbox .tweetctrl .tweeticon:first-child {
  margin-left: 0;
}
.home .tweetfieldbox .tweetctrl svg {
  fill: #1da1f2;
}
.home .tweetfieldbox .tweetctrl .tweetbtn {
  color: #fff;
  background-color: #1da1f2;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 20px;
  border: 0;
  padding: 10px 18px;
  cursor: pointer;
}
.home button:disabled {
  opacity: 0.5;
}

.rightbox {
  width: 350px;
}
@media only screen and (max-width: 1115px) {
  .rightbox {
    width: 290px;
  }
}
@media only screen and (max-width: 1030px) {
  .rightbox {
    display: none;
  }
}
.rightbox form {
  position: fixed;
  top: 0;
  width: 350px;
  background-color: #fff;
  padding: 0.5rem 0 0.3rem;
}
@media only screen and (max-width: 1115px) {
  .rightbox form {
    width: 290px;
  }
}
.rightbox .searchbox {
  background-color: rgba(164, 164, 164, 0.09);
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 5px;
}
.rightbox .searchbox .searchIcon {
  margin: 0 15px 0 12px;
}
.rightbox .searchbox .searchIcon svg {
  width: 20px;
  transform: translateY(2px);
}
.rightbox .searchbox input {
  display: relative;
  outline: 0;
  border: 0;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  line-height: 14px;
}
.rightbox .searchbox.hasfocus {
  border: 1px solid #1da1f2;
  background-color: #fff;
}
.rightbox .searchbox.hasfocus svg {
  fill: #1da1f2;
}
.rightbox svg {
  width: 24px;
}
.rightbox img {
  width: 52px;
  object-fit: contain;
}
.rightbox .tb-tf-rf {
  margin-top: 63px;
}
.rightbox .followbox,
.rightbox .trendbox {
  background-color: rgba(164, 164, 164, 0.09);
  border-radius: 20px;
  margin-top: 1rem;
}
.rightbox .followbox h2,
.rightbox .trendbox h2 {
  padding: 0.7rem 1rem;
}
.rightbox .followbox .showmore-btn,
.rightbox .trendbox .showmore-btn {
  width: 100%;
  padding: 1rem;
  border-radius: 0 0 20px 20px;
  border: 0;
  font-weight: 600;
  text-align: left;
  color: #1da1f2;
  background-color: transparent;
  cursor: pointer;
  transition: background-color ease 0.2s;
}
.rightbox .followbox .showmore-btn:hover,
.rightbox .trendbox .showmore-btn:hover {
  background-color: #e1e8ed;
}
.rightbox .right-footer {
  margin-top: 1rem;
  margin-bottom: 10rem;
  padding: 0.2rem 1rem;
  font-size: 0.85rem;
  color: rgb(83, 100, 113);
}
.rightbox .right-footer span {
  margin-right: 0.8rem;
  line-height: 1.3;
}

.messages {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 420px;
  height: 53px;
  padding: 0;
  padding-bottom: 0.2rem;
  border-radius: 12px 12px 0 0;
  position: fixed;
  bottom: 0;
  right: 50px;
  transition: height ease 0.2s;
  overflow-y: hidden;
}
@media only screen and (max-width: 1030px) {
  .messages {
    display: none;
  }
}
.messages .messages-header {
  padding: 0.65rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
}
.messages .message-btn {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  background: transparent;
  border: 0;
  border-radius: 50%;
  margin: 0 2px;
  cursor: pointer;
  transition: background-color ease 0.2s;
}
.messages .message-btn:hover {
  background-color: #e1e8ed;
}
.messages .message-btn svg {
  width: 20px;
  transform: translateY(2px);
}

.messages.show {
  height: 520px;
  overflow-y: auto;
}

.dmessage {
  padding: 0.85rem 1rem;
  padding-right: 0.5rem;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: background-color ease 0.2s;
}
.dmessage:hover {
  background-color: #edf1f4;
}
.dmessage .picture {
  width: 52px;
  height: 52px;
  margin-right: 0.8rem;
}
.dmessage .picture img {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin: 0;
}
.dmessage .message-body {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.dmessage .message-body .message-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.1rem;
  flex: 1 1 auto;
  margin-top: -5px;
  color: rgb(83, 100, 113);
  word-spacing: -1px;
}
.dmessage .message-body .message-head {
  display: flex;
  align-items: center;
}
.dmessage .message-body .message-head .name {
  font-weight: 600;
  margin-right: 0.3rem;
  max-width: 8ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(38, 42, 46);
}
.dmessage .message-body .message-head .username {
  max-width: 8ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 0.3rem;
}
.dmessage .message-body button {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  align-self: flex-start;
  position: absolute;
  right: 12px;
  top: 10px;
  transition: all ease 0.25s;
}
.dmessage .message-body button svg {
  width: 20px;
}
.dmessage .message-body button:hover {
  background-color: #d1ecfc;
}
.dmessage .message-body button:hover {
  fill: #1da1f2;
}
.dmessage .message-body p {
  width: 29ch;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dmessage:hover button {
  display: flex;
}

.trend {
  padding: 0.6rem 1rem;
  transition: background-color ease 0.2s;
  cursor: pointer;
}
.trend:hover {
  background-color: #e1e8ed;
}
.trend .trendtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(83, 100, 113);
}
.trend .trendtop svg {
  width: 20px;
  fill: rgb(83, 100, 113);
}
.trend .trendtopic {
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.5;
}
.trend .tweetcount {
  color: rgb(83, 100, 113);
}

.whotofollow {
  padding: 0.6rem 1rem;
  transition: background-color ease 0.2s;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.whotofollow:hover {
  background-color: #e1e8ed;
}
.whotofollow img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-right: 0.9rem;
}
.whotofollow .wtf-details {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whotofollow .wtf-text {
  display: flex;
  flex-direction: column;
}
.whotofollow .wtf-text .wtf-name {
  font-weight: 700;
  word-spacing: -1px;
  transition: all ease 0.2s;
}
.whotofollow .wtf-text .wtf-name:hover {
  text-decoration: underline;
}
.whotofollow .wtf-text .wtf-username {
  color: rgb(83, 100, 113);
  word-spacing: 1px;
}
.whotofollow button {
  background-color: black;
  height: 36px;
  padding: 0 1rem;
  border-radius: 18px;
  border: 1px solid black;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.tweet-button {
  background-color: #1da1f2;
  width: 48px;
  height: 48px;
  border-radius: 999px;
  display: none;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border: none;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  bottom: 5rem;
}
.tweet-button svg {
  width: 24px;
  fill: #fff;
}
@media only screen and (max-width: 500px) {
  .tweet-button {
    display: flex;
  }
}

.tweet {
  padding: 0.8rem 1rem;
  display: flex;
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  transition: background-color ease 0.2s;
}
.tweet:hover {
  background-color: rgba(164, 164, 164, 0.09);
}
.tweet .userphoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
}
.tweet svg {
  width: 18px;
  fill: rgb(83, 100, 113);
}
.tweet .tweetheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -4px;
}
.tweet .tweetheader .tweetid span:first-child {
  font-weight: 600;
}
.tweet .tweetheader .tweetid span:last-child {
  color: rgb(83, 100, 113);
}
.tweet .tweetheader button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-right: -8px;
  cursor: pointer;
  transition: background-color ease 0.2s;
}
.tweet .tweetheader button:hover {
  background-color: rgba(29, 161, 242, 0.1);
}
.tweet .tweetheader button:hover svg {
  fill: #1da1f2;
}
.tweet .tweetcontent img {
  width: 100%;
  margin-top: 1rem;
  border-radius: 12px;
}
.tweet .tweetfooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem 0;
  margin-bottom: 0;
}
.tweet .tweetfooter button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: all ease 0.2s;
}
.tweet .tweetfooter button:hover .tweeticon {
  background-color: rgba(29, 161, 242, 0.1);
}
.tweet .tweetfooter button:hover svg {
  fill: #1da1f2;
}
.tweet .tweetfooter button:hover .iconlabel {
  color: #1da1f2;
}
.tweet .tweetfooter .tweeticon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.tweet .tweetfooter button.likes:hover .iconlabel {
  color: rgb(249, 24, 128);
}
.tweet .tweetfooter button.likes:hover svg {
  fill: rgb(249, 24, 128);
}
.tweet .tweetfooter button.likes:hover .tweeticon {
  background-color: rgba(249, 24, 128, 0.1);
}
.tweet .tweetfooter button.retweet:hover .iconlabel {
  color: rgb(0, 186, 124);
}
.tweet .tweetfooter button.retweet:hover svg {
  fill: rgb(0, 186, 124);
}
.tweet .tweetfooter button.retweet:hover .tweeticon {
  background-color: rgba(0, 186, 124, 0.1);
}

.profile-mobile {
  padding: 0.5rem;
  display: none;
  border-radius: 9999px;
  transition: background-color ease 0.2s;
}
.profile-mobile:hover {
  background-color: #e1e8ed;
}
.profile-mobile .profile-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
@media only screen and (max-width: 1300px) {
  .profile-mobile {
    display: grid;
    place-items: center;
  }
}/*# sourceMappingURL=style.css.map */